<div class="stepsdemo-content">
    <p-card>
        <ng-template pTemplate="title">
            Demande de crédit
        </ng-template>
        <ng-template pTemplate="subtitle">
          <ng-container *ngIf="!consultationFlag">Entrez vos informations</ng-container>
          <ng-container *ngIf="consultationFlag">Consultation</ng-container>
        </ng-template>
        <ng-template pTemplate="content">
            <div class="p-fluid formgrid grid">
            
                <div class="card m-4 d-fluid " style="width: 100%;">
                    <h5 class="card-header">Garanties proposées</h5>
                    <div class="card-body">
                      <form [formGroup]="userForm">
                        <div formArrayName="garantiesDetails">
                          <p-table [value]="garantiesDetails.controls" [(selection)]="selectedGaranties">
                            <ng-template pTemplate="header" >
                              <tr>
                                <th >Row</th>
                                <th >Nature</th>
                                <th >Type</th>
                                <th >Valeur</th>
                                <th>Devise</th>
                              </tr>
                            </ng-template>
                            <ng-template pTemplate="body" let-controls let-i="rowIndex">
                              <tr [formGroupName]="i">
                                <td>
                                  <p-tableCheckbox [value]="i+1"></p-tableCheckbox>
                                </td>

                                <td><p-autoComplete appendTo="body"  formControlName="natureGarantie" [suggestions]="filteredNatures" (completeMethod)="filterNature($event)" field="label" [dropdown]="true"
                                  placeholder="Choisir" [disabled]="consultationFlag" >
                                  </p-autoComplete>
                                </td>

                                <td>  
                                  <p-autoComplete appendTo="body"  formControlName="typeGarantie" [suggestions]="filteredTypes" (completeMethod)="filterType($event)" field="label" [dropdown]="true"
                                  placeholder="Choisir" [disabled]="consultationFlag">
                                  </p-autoComplete>
                                </td>

                                <td>
                                  <p-inputNumber mode="decimal" formControlName="valeur" [showButtons]="true" [min]="0" 
                                  [disabled]="consultationFlag"></p-inputNumber>
                                </td>

                                <td><p-autoComplete appendTo="body" formControlName="devise" [suggestions]="filteredDevises" (completeMethod)="filterDevise($event)" field="label" [dropdown]="true"
                                  placeholder="Choisir" [disabled]="consultationFlag"></p-autoComplete>
                                </td>
                                  
                              </tr>
                            </ng-template>
                          </p-table>
                          <small class="p-error" *ngIf="ValidationFlag"  >Tous les champs sont requis.</small>

                        </div>
                      </form>
                      <div style="margin-top: 20px;">
                        <div style="margin-top: 20px; display: flex; flex-wrap: nowrap;">
                            <button   pButton pRipple (click)="onAdd()" style="width: 8.9rem; margin-right: 10px;" [disabled]="consultationFlag">Add New Row</button>

                            <button pButton pRipple [disabled]="(garantiesDetails.controls.length === 1) ||  consultationFlag" (click)="onDelete()" style="width: 12rem; margin-right: 10px;">Delete Selected Row</button>

                            <button pButton pRipple [disabled]="userForm.invalid ||  consultationFlag" (click)="onSubmit()" style="width: 6.25rem">Submit</button>
                        </div>
                      </div>
                    </div>
                  </div>
                  <p-toast [style]="{marginTop: '80px'}"></p-toast>
                  <div>
                  </div>                
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="grid grid-nogutter justify-content-end">
                <p-button label="Back" (onClick)="prevPage()" icon="pi pi-angle-left" [style]="{ 'margin-right': '30px' }"></p-button>
                <p-button label="Next" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right" [disabled]="!((areGarantiesSubmited && ValidationFlag===false)|| consultationFlag)"></p-button>
                <ng-container *ngIf="consultationFlag" >
                  <p-button label="Admin Panel" (onClick)="backToAdmin()" icon="pi pi-angle" iconPos="right" [style]="{ 'margin-left': '30px' }" ></p-button>
                </ng-container>
            </div>
        </ng-template>
    </p-card>
</div>