<div class="stepsdemo-content">
    <p-card>
        <ng-template pTemplate="title">
            Demande de crédit
        </ng-template>
        <ng-template pTemplate="subtitle">
            Entrez vos informations
        </ng-template>
        <ng-template pTemplate="content">
            <div class="p-fluid formgrid grid">
                <div class="field col-4">
                    <label for="class">N° CIN</label>
                    <input type="text" required pInputText [(ngModel)]="ncin" name="ncin"> 
                </div>
                <div class="field col-4">
                    <label for="class">Nom</label>
                    <input type="text" required pInputText [(ngModel)]="nom" name="nom"> 
                </div>
                <div class="field col-4">
                    <label for="class">Prénom</label>
                    <input type="text" required pInputText [(ngModel)]="prenom" name="prenom"> 
                </div>
                <div class="field col-12 md:col-5">
                    <label for="class">N° du compte</label>
                    <p-dropdown inputId="class" [(ngModel)]="ncompte" [options]="comptes" (onChange)="setCompteNumber($event)" optionLabel="value" placeholder="Choisir"></p-dropdown>
                </div>

                <div class="field col-12 md:col-1">           
                    <p for="accountType1">Devise</p>
                    <p-checkbox name="accountType2" value="En Devise" [(ngModel)]="devise" id="accountType1"></p-checkbox>
                </div>

                <div class="field col-12 md:col-6">           
                    <label for="accountType1">Date d'ouverture compte</label>
                    <p-calendar [showIcon]="true" inputId="icon"></p-calendar>
                </div>

                <div class="field col-12 md:col-6">           
                    <label for="accountType1">Date de naissance</label>
                    <p-calendar [showIcon]="true" inputId="icon"></p-calendar>
                </div>

                <div class="field col-6">
                    <label for="class">Situation Familiale</label>
                    <input type="text" required pInputText [(ngModel)]="sfamiliale" name="cardName"> 
                </div>
                
                
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="grid grid-nogutter justify-content-end">
                <p-button label="Next" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
            </div>
        </ng-template>
    </p-card>
</div>