<div class="stepsdemo-content">
    <p-card>
        <ng-template pTemplate="title">
            Demande de crédit
        </ng-template>
        <ng-template pTemplate="subtitle">
            Entrez vos informations
        </ng-template>
        <ng-template pTemplate="content">
            <div class="p-fluid formgrid grid">
                <div class="field col-4">
                    <label for="class">N° CIN</label>
                    <input type="number" required pInputText [(ngModel)]="ncin" (input)="populateFields()" name="ncin1" [disabled]="disableNcinField" 
                    [ngClass]="{'ng-dirty': ncinField8digitsFlag || ncinIncorrectFlag}">
                    <small class="p-error" *ngIf="ncinField8digitsFlag">Le champ numéro CIN doit contenir 8 chiffres</small>
                    <small class="p-error" *ngIf="ncinField8digitsFlag && ncinIncorrectFlag">  -   </small>
                    <small class="p-error" *ngIf="ncinIncorrectFlag">Le CIN fourni est invalide</small>

                </div>
                <div class="field col-4">
                    <label for="class">Nom</label>
                    <input type="text" required pInputText [(ngModel)]="nom" name="nom" [disabled]="true"> 
                </div>

                <div class="field col-4">
                    <label for="class">Prénom</label>
                    <input type="text" required pInputText [(ngModel)]="prenom" name="prenom" [disabled]="true"> 
                </div>

                <div class="field col-12 md:col-5">
                    <label for="class">N° du compte</label>
                    <p-dropdown inputId="class" [(ngModel)]="compte" [options]="comptes" (onChange)="setCompteNumber($event)" optionLabel="ncompte"></p-dropdown>
                </div>

               <div class="field col-1">
                    <label for="class">Devise</label>
                    <input type="text" required pInputText [(ngModel)]="devise" name="prenom" [disabled]="true"> 
                </div>

                <div class="field col-12 md:col-6">           
                    <label for="accountType1">Date d'ouverture compte</label>
                    <p-calendar [showIcon]="true" inputId="icon" [(ngModel)]="dateouv"  ></p-calendar>
                </div>

                <div class="field col-12 md:col-6">           
                    <label for="accountType1">Date de naissance</label>
                    <p-calendar [showIcon]="true" inputId="icon" [(ngModel)]="datenaiss" ></p-calendar>
                </div>

                <div class="field col-6">
                    <label for="class">Situation Familiale</label>
                    <input type="text" required pInputText [(ngModel)]="sfamiliale" name="cardName" > 
                </div>
                
                
            </div>
        </ng-template>
        <ng-template pTemplate="footer">
            <div class="grid grid-nogutter justify-content-end">
                <p-button label="Next" (onClick)="nextPage()" icon="pi pi-angle-right" iconPos="right"></p-button>
            </div>
        </ng-template>
    </p-card>
</div>